'scopeName': 'source.vpl'
'name': 'VPL/INC'
'fileTypes': [
  'vpl'
  'inc'
]

'patterns': [
  {
    'include': '#comment'
  }
  {
    'include': '#string'
  }
  {
    'include': '#structure'
  }
  {
    'include': '#declaration'
  }
  {
    'include': '#statements'
  }
  {
    'include': '#types'
  }
  {
    'include': '#constants'
  }
  {
    'include': '#operators'
  }
]

'repository':
  'comment':
    'patterns': [
      {
        'begin': '\\/\\*'
        'end': '\\*\\/'
        'name': 'comment.block.vpl'
      }
      {
        'match': '//.*$'
        'name': 'comment.line.double-slash.vpl'
      }
      {
        'match': '\\|.*$'
        'name': 'comment.line.double-slash.vpl'
      }
    ]

  'structure':
    'patterns': [
      {
        'begin': '(?i)\\s*(ORGANIZATION_BLOCK)\\s+(\\b[A-Z_]+\\w{0,23}\\b)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'name': 'entity.name.function.vpl'
          '3':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_ORGANIZATION_BLOCK)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.organization-block.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(FUNCTION)\\s+(\\b[A-Z_]+\\w{0,23}\\b)(\\s*(:)\\s*(\\b[A-Z_]+\\w{0,23}\\b))?\\s*(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'name': 'entity.name.function.vpl'
          #'4':
            #'name': 'storage.type.vpl'
          '5':
            'name': 'storage.type.vpl'
          '6':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_FUNCTION)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.function.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(FUNCTION_BLOCK)\\s+(\\b[A-Z_]+\\w{0,23}\\b)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'name': 'entity.name.function.vpl'
          '3':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_FUNCTION_BLOCK)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.function-block.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(DATA_BLOCK)\\s+(\\b[A-Z_]+\\w{0,23}\\b)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'name': 'entity.name.function.vpl'
          '3':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_DATA_BLOCK)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.data-block.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(TYPE)\\s+(\\b[A-Z_]+\\w{0,23}\\b)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'name': 'entity.name.function.vpl'
          '3':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_TYPE)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.function.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.type.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
    ]

  'declaration':
    'patterns': [
      {
        'begin': '(?i)\\s*(CONST)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.constant.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_CONST)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.constant.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.declaration.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(LABEL)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.label.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_LABEL)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.label.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.declaration.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
      {
        'begin': '(?i)\\s*(VAR(_TEMP|_INPUT|_OUTPUT|_IN_OUT)?)(.*)$'
        'beginCaptures':
          '1':
            'name': 'storage.type.variable.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'end': '(?i)\\s*(END_VAR;)(.*)$'
        'endCaptures':
          '1':
            'name': 'storage.type.variable.vpl'
          '2':
            'patterns': [
              {
                'include': '#comment'
              }
            ]
        'name': 'meta.declaration.vpl'
        'patterns': [
          'include': '$self'
        ]
      }
    ]

  'statements':
    'patterns': [
      {
        'match': '(?i)\\b(IF|THEN|ELSIF|ELSE|CASE|OF|FOR|TO|BY|WHILE|DO|REPEAT|UNTIL|CONTINUE|EXIT|GOTO|RETURN|END_(IF|CASE|FOR|WHILE|REPEAT))\\b'
        'name': 'keyword.control.vpl'
      }
    ]

  'types':
    'patterns': [
      {
        'match': '(?i)\\b(BOOL|SINT|INT|DINT|FLOAT|STRING|PTR|CHANNEL|SEMAPHORE|MUTEX|FILE|SYSHANDLE|ARRAY|STRUCT|TON|TOF|R_TRIG|F_TRIG|RF_TRIG)\\b'
        'name': 'storage.type.vpl'
      }
    ]

  'constants':
    'patterns': [
      {
        'match': '((2#[0-1]+[0-1_]*)|(16#[0-9A-F]+[0-9A-F_]*)|(8#[0-8]+[0-8_]*))'
        'name': 'constant.numeric.vpl'
      }
      {
        'match': '(?i)((([+-]?[0-9]+[0-9_]*)(\\.[0-9]+[0-9_]*)?)(E[+-]?[0-9]+[0-9_]*)?)'
        'name': 'constant.numeric.vpl'
      }
      {
        'match': '(?i)\\b(TRUE|FALSE)\\b'
        'name': 'constant.numeric.vpl'
      }
    ]

  'string':
    'patterns': [
      {
        'begin': '"'
        'beginCaptures':
          '0':
            'name': 'punctuation.definition.string.begin.vpl'
        'end': '"'
        'endCaptures':
          '0':
            'name': 'punctuation.definition.string.end.vpl'
        'name': 'string.quoted.double.vpl'
      }
      {
        'begin': '\''
        'end': '\''
        'name': 'string.quoted.single.vpl'
      }
    ]

    'operators':
      'patterns': [
        {
          'match': '(?i)\\b(AND|OR|NOT|XOR)\\b'
          'name': 'keyword.operator.logical.vpl'
        }
        {
          'match': '(\\+|\\-|\\*|/|%)'
          'name': 'keyword.operator.arithmetic.vpl'
        }
        {
          'match': '(=|<>|<=|>=|<(?!<)|>(?!>))'
          'name': 'keyword.operator.comparison.vpl'
        }
        {
          'match': '(:=)'
          'name': 'keyword.operator.assignment.vpl'
        }
      ]
